@import "../../app.scss";

.project-container {
    min-height: 100vh; // Ensures that the section takes at least the full viewport height
    padding: 40px 0; // Adds some vertical padding for better spacing

    @include mobile {
        padding: 20px;
        min-height: auto; // Adjusts the height automatically on mobile
    }
}

.projects {
    position: relative;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    padding: 40px 0;

    .progress {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 36px;

        @include mobile {
            font-size: 20px;
            padding: 20px 0;
        }

        .progressBar {
            height: 10px;
            background-color: white;
            transform-origin: 0%;
            margin: 10px 0;

            @include mobile {
                height: 5px;
            }
        }
    }

    .projectsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 0;

        .container {
            max-width: 1366px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 50px;
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 50px;
            width: 100%;
            max-width: 1366px;

            @include mobile {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }

            .textContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                text-align: center;

                padding: 20px;
                border-radius: 10px;

                width: 100%;

                @include mobile {
                    gap: 20px;
                    padding: 15px;
                }

                .project-image {
                    img {
                        border-radius: 10%;
                        max-width: 100%;
                        height: auto;
                        cursor: pointer;

                        @include mobile {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .project-content {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;

                    h2 {
                        font-size: 36px;
                        color: #f0e7db;

                        @include mobile {
                            font-size: 24px;
                        }
                    }

                    p {
                        color: #f0e7db;
                        font-size: 18px;
                        line-height: 1.5;

                        @include mobile {
                            font-size: 16px;
                            text-align: center;
                            line-height: 1.2;
                        }
                    }

                    button {
                        background-color: orange;
                        border: none;
                        border-radius: 10px;
                        padding: 15px;
                        width: 200px;
                        cursor: pointer;
                        font-size: 18px;
                        font-weight: bold;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: darkorange;
                        }

                        @include mobile {
                            width: 150px;
                            padding: 10px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}