.home {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        height: 100%;

        .textContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            width: 50%;

            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
                font-weight: 900
            }

            /* p {
                font-size: 20px;
            }
 */
            h1 {
                font-size: 68px;
                color: lightgray;

            }

            .buttons {
                button {
                    padding: 12px 20px;
                    border-radius: 10px;
                    border: 1px solid white;
                    background-color: transparent;
                    color: white;
                    margin-right: 25px;
                    cursor: pointer;
                    font-weight: 300;
                }
            }

            img {
                height: 40px;
                width: 40px;

            }
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        top: 50px;
        color: lightgray;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }


    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 180px;


        img {
            height: 640px;
            width: 460px;
            border-radius: 100px;
            border: 2px solid #7a7abf;
            padding: 15px;
        }
    }
}