.home {
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        height: 100%;
        display: flex;
        align-items: center; // Vertically centers the items
        justify-content: space-between; // Even space between text and image containers
        padding: 0 50px; // Add some padding to avoid touching screen edges

        .textContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            flex: 1; // Take up equal space as the image container
            max-width: 50%; // Ensure the text doesn't exceed half the screen width

            h2 {
                font-size: 50px;
                color: rebeccapurple;
                letter-spacing: 10px;
                font-weight: 900;
            }

            h1 {
                font-size: 68px;
                color: lightgray;
            }

            .buttons {
                display: flex;
                gap: 25px;

                button {
                    padding: 12px 20px;
                    border-radius: 10px;
                    border: 1px solid white;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    font-weight: 300;
                }
            }

            img {
                height: 40px;
                width: 40px;
            }
        }

        .imageContainer {
            display: flex;
            justify-content: center;
            flex: 1; // Take up equal space as the text container
            max-width: 50%; // Ensure the image doesn't exceed half the screen width

            img {
                height: 640px;
                width: 460px;
                border-radius: 100px;
                border: 2px solid #7a7abf;
                padding: 15px;
            }
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        top: 50px;
        color: lightgray;
        white-space: nowrap;
        color: #ffffff09;
        font-weight: bold;
        width: 100%; // Make sure it covers the full width
    }
}