@import "../../app.scss";

.skillslist {
    background: linear-gradient(180deg, #2e225b, #0c0c1d);
    padding: 80px;
    height: auto;

    @include mobile {
        background: linear-gradient(180deg, #0c0c1d, #111132);
        padding: 25px;
        height: auto;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        .list {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 100px;

            @include mobile {
                gap: 40px;
                width: 100%;
            }
        }

        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;


            img {
                height: 120px;
                width: 120px;
                object-fit: cover;

                @include mobile {
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                }
            }

            p {
                font-size: 24px;
                margin-bottom: 10px;
                font-weight: bolder;

                @include mobile {
                    font-size: 10px;
                    margin-bottom: 3px;
                }
            }
        }
    }
}