html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";

}

body {
    background-color: #0c0c1d;
    color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

/* section {
    width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
    scroll-padding-top: 20px;
    scroll-padding-bottom: 20px;
} */



@mixin mobile {
    @media(max-width: 738px) {
        @content;
    }
}

@mixin tablet {
    @media(max-width: 2014px) {
        @content;
    }
}

@mixin desktop {
    @media(max-width: 1366px) {
        @content;
    }
}