@import "../../app.scss";

.about {
    width: 100vw;
    height: 100vh;
    max-width: 1600px;
    margin: auto;

    @include mobile {
        padding: 0;
        max-width: max-content;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        height: auto;
        padding: 40px;



        @include mobile {
            padding: 0;
            flex-direction: column;
            gap: 10px;
        }

        .details {
            flex: 7;
            padding: 20px;

            @include mobile {
                padding: 10px;
                text-align: center;

            }


            p {
                margin: 0;
                font-size: 40px;
                letter-spacing: 10px;
                text-decoration: underline;
                font-weight: bold;

                @include mobile {
                    font-size: 20px;
                    letter-spacing: 3px;
                    padding-top: 20px;
                    text-align: center;

                }
            }

            div {
                margin-top: 20px;
                line-height: 55px;
                font-size: 20px;

                @include mobile {
                    line-height: 30px;
                    font-size: 16px;
                }
            }

            button {
                margin-top: 30px;
                align-self: center;

                @include mobile {
                    margin-top: 15px;
                    align-self: center;
                    padding: 8px 15px;
                    font-size: 12px;
                }

            }


        }

        .education {
            flex: 4;
            padding: 20px;

            @include mobile {
                padding: 10px;
                text-align: center
            }


            .education-title {
                font-size: 40px;
                letter-spacing: 10px;
                margin: 0;
                text-decoration: underline;
                font-weight: bold;

                @include mobile {
                    font-size: 20px;
                    letter-spacing: 3px;
                    text-align: center;

                }

            }

            .timeline {

                position: relative;
                padding: 20px 0;
                margin-top: 10px;
                align-items: center;

                @include mobile {
                    padding: 10px 0;
                    margin-top: 5px;
                    width: 50%;
                    margin: auto;

                }


                .timeline-item {
                    font-size: 20px;
                    position: relative;
                    margin-bottom: 25px;


                    @include mobile {
                        font-size: 12px;
                        margin-bottom: 15px;
                        border: 1px solid white;
                        border-radius: 20px;
                    }


                    .timeline-content {
                        position: relative;
                        padding: 20px 25px;
                        border-radius: 5px;
                        background-color: #727070;
                        line-height: 40px;
                        color: white;
                        text-align: center;

                        @include mobile {
                            padding: 5px 10px;
                        }
                    }


                    &:before {
                        content: '';
                        position: absolute;
                        left: -8px;
                        top: -6px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: white;

                        @include mobile {
                            display: none; // Remove the before element on mobile for simplicity
                        }
                    }
                }
            }
        }
    }

    button {
        padding: 12px 20px;
        border-radius: 10px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-weight: 300;
        margin-top: 20px;
        font-size: 20px;

        @include mobile {
            margin: 10px 0px;
            align-self: center;
            padding: 8px 15px;
            font-size: 12px;
        }
    }

    button:hover {
        background-color: white;
        color: #111132;


    }
}